/.EclassAspect.java._trace
/.EclassAspectEClassAspectContext.java._trace
/.EclassAspectEClassAspectProperties.java._trace
/.EcoreHelper.java._trace
/.Main.java._trace
/EclassAspect.java
/EclassAspectEClassAspectContext.java
/EclassAspectEClassAspectProperties.java
/EcoreHelper.java
/Main.java
